@import "tailwindcss";

.text{
  color:#0F172B ;
}
.text-y{
  color: #FE9A00;
}

.shadow-b{
-webkit-box-shadow: 4px -18px 13px -5px #000000; 
box-shadow: 4px -18px 13px -5px #000000;
}

.bg-blue{
background: #FFFFFF;
background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(15, 23, 43, 1) 5%);
}

::selection{
  background-color: #fe98007a;
}

.inset-shadow{
  box-shadow:  3px 3px 6px 0px inset, #80653b68 -3px -3px 6px 1px inset;}

  button{
    user-select: none;
  }

  a{
    user-select: none;
  }

  h1,h2,h3,h4,h5,h6{
    user-select: none;
  }